<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>

        <link rel="stylesheet" type="text/css" charset="utf-8"
            href="htdocs/current.css" />
        
    </head>

    <body>

        <div id="header">

            <p id="title">Current</p>
            <p id="headertext" tal:content="currentVersion">
                Current Version 1.7.2</p>
        
        <ul id="navibar">
            <li class="navlink" tal:repeat="menu currentMenus">
            <a tal:attributes="href menu/link"
               tal:content="menu/name"></a>
            </li>
            <li class="help">
                <a href="http://current.tigris.org">Current Home</a>
            </li>
        </ul>

        <div id="pageline"><hr style="display:none;"></div>

    </div>

    <div id="content">

        <div tal:content="structure currentContent"></div>
        
    </div>
    </body>
</html>
