'desc' : '"Intel Corporation|440BX/ZX - 82443BX/ZX Host bridge"'
'class' : 'OTHER'
'driver' : 'agpgart'
'detached' : '0'
'bus' : 'PCI'
'subDeviceId' : '0000'
'subVendorId' : '0000'
'deviceId' : '7190'
'vendorId' : '8086'
'pciType' : '1'

'desc' : '"Intel Corporation|440BX/ZX - 82443BX/ZX AGP bridge"'
'class' : 'OTHER'
'driver' : 'ignore'
'detached' : '0'
'bus' : 'PCI'
'subDeviceId' : '0000'
'subVendorId' : '0000'
'deviceId' : '7191'
'vendorId' : '8086'
'pciType' : '1'

'desc' : '"Intel Corporation|82371AB PIIX4 ISA"'
'class' : 'OTHER'
'driver' : 'unknown'
'detached' : '0'
'bus' : 'PCI'
'subDeviceId' : '0000'
'subVendorId' : '0000'
'deviceId' : '7110'
'vendorId' : '8086'
'pciType' : '1'

'desc' : '"Intel Corporation|82371AB PIIX4 IDE"'
'class' : 'OTHER'
'driver' : 'unknown'
'detached' : '0'
'bus' : 'PCI'
'subDeviceId' : '0000'
'subVendorId' : '0000'
'deviceId' : '7111'
'vendorId' : '8086'
'pciType' : '1'

'desc' : '"Intel Corporation|82371AB PIIX4 ACPI"'
'class' : 'OTHER'
'driver' : 'unknown'
'detached' : '0'
'bus' : 'PCI'
'subDeviceId' : '0000'
'subVendorId' : '0000'
'deviceId' : '7113'
'vendorId' : '8086'
'pciType' : '1'

'desc' : '"Neomagic Corporation|[MagicMedia 256AV]"'
'class' : 'VIDEO'
'driver' : 'Card NeoMagic 256 (laptop/notebook)'
'detached' : '0'
'bus' : 'PCI'
'subDeviceId' : '00dd'
'subVendorId' : '1014'
'deviceId' : '0005'
'vendorId' : '10c8'
'pciType' : '1'

'desc' : '"Cirrus Logic|CS 4610/11 [CrystalClear SoundFusion Audio Accelerator]"'
'class' : 'AUDIO'
'driver' : 'cs46xx'
'detached' : '0'
'bus' : 'PCI'
'subDeviceId' : '1010'
'subVendorId' : '1014'
'deviceId' : '6001'
'vendorId' : '1013'
'pciType' : '1'

'desc' : '"Generic PS/2 Mouse"'
'class' : 'MOUSE'
'driver' : 'genericps/2'
'detached' : '0'
'bus' : 'PSAUX'
'device' : 'psaux'

'desc' : '"TOSHIBA DVD-ROM SD-C2102"'
'class' : 'CDROM'
'driver' : 'ignore'
'detached' : '0'
'bus' : 'IDE'
'device' : 'hdc'

'desc' : '"HITACHI_DK229A-10"'
'logical' : '1299/240/63'
'class' : 'HD'
'driver' : 'ignore'
'detached' : '0'
'bus' : 'IDE'
'device' : 'hda'
'physical' : '16383/15/63'

'desc' : '"Intel Corporation|82371AB PIIX4 USB"'
'class' : 'USB'
'driver' : 'usb-uhci'
'detached' : '0'
'bus' : 'PCI'
'subDeviceId' : '0000'
'subVendorId' : '0000'
'deviceId' : '7112'
'vendorId' : '8086'
'pciType' : '1'

'desc' : '"Texas Instruments|PCI1251A"'
'class' : 'SOCKET'
'driver' : 'yenta_socket'
'detached' : '0'
'bus' : 'PCI'
'subDeviceId' : '00eb'
'subVendorId' : '1014'
'deviceId' : 'ac1d'
'vendorId' : '104c'
'pciType' : '1'

'desc' : '"Texas Instruments|PCI1251A"'
'class' : 'SOCKET'
'driver' : 'yenta_socket'
'detached' : '0'
'bus' : 'PCI'
'subDeviceId' : '00eb'
'subVendorId' : '1014'
'deviceId' : 'ac1d'
'vendorId' : '104c'
'pciType' : '1'

'desc' : 'Processor'
'class' : 'CPU'
'type' : 'GenuineIntel'
'model' : 'Mobile Pentium II'
'model_rev' : '10'
'other' : 'fpu vme de pse tsc msr pae mce cx8 sep mtrr pge mca cmov pat pse36 mmx fxsr'
'platform' : 'i386'
'bogomips' : '792.98'
'model_number' : '6'
'cache' : '256 KB'
'model_ver' : '6'
'speed' : '396'
'count' : '1'

'ram' : '160'
'swap' : '66'
'class' : 'MEMORY'

'hostname' : 'jade.biology.duke.edu'
'class' : 'NETINFO'
'ipaddr' : '10.0.0.1'

