<?xml version="1.0"?>
<params>
<param>
<value><struct>
<member>
<name>type</name>
<value><string>REAL</string></value>
</member>
<member>
<name>checksum</name>
<value><string>8f907a6a9430ceeea047d361ea47961e</string></value>
</member>
<member>
<name>description</name>
<value><string>7.0.91 running on i686</string></value>
</member>
<member>
<name>os_release</name>
<value><string>7.0.91</string></value>
</member>
<member>
<name>architecture</name>
<value><string>i686</string></value>
</member>
<member>
<name>system_id</name>
<value><string>ID-1000126015</string></value>
</member>
<member>
<name>operating_system</name>
<value><string>Red Hat Linux</string></value>
</member>
<member>
<name>profile_name</name>
<value><string>jade.biology.duke.edu</string></value>
</member>
<member>
<name>fields</name>
<value><array><data>
<value><string>system_id</string></value>
<value><string>os_release</string></value>
<value><string>operating_system</string></value>
<value><string>architecture</string></value>
<value><string>username</string></value>
<value><string>type</string></value>
</data></array></value>
</member>
<member>
<name>username</name>
<value><string>foobar</string></value>
</member>
</struct></value>
</param>
</params>
